<mat-toolbar color="primary">

  <mat-toolbar-row>
      <mat-icon>android</mat-icon> Address Book
  </mat-toolbar-row>
</mat-toolbar>



<app-address-entry (newAddress)="processAddress($event)">
</app-address-entry>

<mat-tab-group (selectedTabChange)="loadAddress($event)">
    <mat-tab *ngFor="let t of tabs" [label]="t.label">
<mat-list role="list">
<mat-list-item role="listItem" *ngFor="let i of contactList">
  {{i.name | uppercase}}
  {{i.phone}}
</mat-list-item>

    </mat-list>
    </mat-tab>

  </mat-tab-group>

