<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">

    <span fxLayout="row column" fxLayoutAligh="start center">
      <img src="assets/starwarsicon.png" class="icon"> 
      STAR WARS
    </span>
  
    <button type="button" mat-icon-button-color="accent" (click)="goBack()">
          <mat-icon>navigate_before</mat-icon>
    </button>
  </mat-toolbar>

<form #form="ngForm" (ngSubmit)="processForm(form)" fxLayout="column" fxLayoutGap=5px>
 
    <mat-form-field>
      <input type="number" name="PeopleID" placeholder="Enter number between 1-88" min="1" max="88" ngModel required matInput>
    <mat-hint>Star Wars People ID - See <a href="https://swapi.co" target="_blank">swarpi.co</a></mat-hint>
    </mat-form-field>

    <div fxLayout="row column" fxLayoutAlign="end" fxLayoutGap="10px">
    <button type="reset" mat-raised-button>
  
        <mat-icon>
          clear
        </mat-icon>
      </button>
    <button type="submit"   mat-raised-button [disabled]="form.invalid">
  
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
  </form>