<mat-toolbar color="primary">
Giphy
</mat-toolbar>

<form #searchForm="ngForm" (ngSubmit)="search(form)">

    <mat-form-field>
    <input type="text" name="searchTerm" placeholder="What?" ngModel required matInput>
  </mat-form-field>

<button type="submit">
  <mat-icon>
    search
  </mat-icon>
</button>


</form>

<div fxLayout="column row" fxLayOutGap="5px">

  <mat-card *ngFor="let g of giphys">
     <mat-card-header>
      <mat-card-title>{{g.title}}</mat-card-title>
     </mat-card-header>
  <img [src]='g.imageUrl" mat=card=image>
</mat-card>
</div>
