<!--
<mat-toolbar color="primary">
  <img src="assets/starwarsicon.png" class="icon">
  STAR WARS
</mat-toolbar>
-->
<!--<app-people-list></app-people-list>-->
<router-outlet></router-outlet>
<!--<app-showcard></app-showcard>-->

<!--
<form #form="ngForm" (ngSubmit)="processForm(form)" fxLayout="column" fxLayoutGap=5px>
 
  <mat-form-field>
    <input type="number" name="PeopleID" placeholder="People ID" min="1" ngModel required matInput>
  </mat-form-field>

  <button type="submit"  [disabled]="form.invalid">
    <mat-icon>
      search
    </mat-icon>
  </button>

</form>
-->



<!--
<div>
    <a [routerLink]="['/']" class="menuitem">Home</a>
    <a [routerLink]="['/cat']" class="menuitem">Cat</a>
  </div>
  
<div>
 
  <router-outlet>

  </router-outlet>
   
</div>
-->